
<div class="container">
  <h1 class="mt-5">Cliente</h1>
    <button type="button" class="btn btn-primary mt-3" (click)="addCliente()">Agregar Cliente</button>
    <hr>
    <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cedula</th>
            <th scope="col">Membresia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" (click)="updateCliente(cliente.id)">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nombreCliente}}</td>
            <td>{{cliente.cedula}}</td>
            <td>{{cliente.membresia}}</td>
          </tr>
          
        </tbody>
      </table>
       
</div>
