<div class="container card mt-3">
  
  <div class="row card-header">
      
      <h1>Factura</h1>
      
  </div>
  
  <div class="row">
      <hr>
     
        <div class="col-md-6">
          <h1 class="card-title">Cliente: </h1>
          <p >Numero Cliente: <b>{{datosCliente.Id}}</b></p>
          <p>Nombre: <b>{{datosCliente.NombreCliente}}</b></p>
          <p>Cedula: <b>{{datosCliente.Cedula}}</b> </p>
          <p>Membresia: <b>{{datosCliente.Membresia}}</b></p>
          
      </div>
   
      
      <div class="col-md-6 mt-4">
          <br>
          <p>NO.Factura: <b>{{noFactura}}</b></p>
          <p>Fecha Facturacion: <b>{{todayWithPipe}}</b></p>
      </div>
      
  </div>
<hr>
  <div class="row">
      
      <div class=" row mt-1 mb-2 ">
        
          <h1 class="card-title">
            Buscar Producto:
          </h1>
          <div class="row">
            
              <div class="col-md-4 mb-3">
                <label class="form-label">Buscar Producto:</label>
                <input type="text" class="form-control"  placeholder="Buscar"  placeholder="Buscar Productos....">
                <button type="button" class="btn btn-secondary mt-2">Buscar</button>
              </div>
            
            <hr>
           
            <div class="row mt-3">
              <form [formGroup]="productoForm">
              <div class="col-md-4">
                
                  <label  class="form-label">Producto:</label>
                  <input type="text" class="form-control" formControlName="NombreProducto" placeholder="Producto">
                  
              </div>
              

              <div class="col-md-4">
                <label class="form-label">Cantidad:</label>
                <input type="text" class="form-control"  placeholder="Cantidad" formControlName="Cantidad">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <div class="btn-group mt-2 " role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success" (click)="addToCar(productoForm.value)">Agregar</button>
                  </div>
                </div>
              </div>
            </form>
              
            
            </div>
            
          </div>
          
          
          <div class="  form-floating mt-2 overflow-x:auto">
            <hr>

            <table class="table  table-hover">
              <thead>
                <tr>
                 
                  <th scope="col">Producto</th>
                  
                  <th scope="col">Categoria</th>
                  <th scope="col">Cantidad Existente INV</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos | slice: index:top" (click)="agregarProducto(producto.Id)">
                  <td>{{producto.NombreProducto}}</td>
                  <td>{{producto.Categories.Categoria}}</td>
                  <td>{{producto.Cantidad}}</td>
                  <td>{{producto.Precio | currency: 'USD' | lowercase }}</td>
                </tr>
                
              </tbody>
            </table>

            <mat-paginator [length]="productos.length"
            [pageSize]="pagueSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="cambiarPagina($event)"
            aria-label="Seleccione Pagina">
            </mat-paginator>
             
          </div>
          
      </div>
      
      <hr>
  </div>

  <div class="row">
      <h1 class="card-title">Detalle:</h1>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
                  <th scope="col">Producto</th>
                  
                  <th scope="col">Cantidad </th>
                  <th scope="col">Precio</th>
                  <th scope="col">Sub-Total</th> 
                  <th scope="col">Eliminar</th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of datosDetalleProducto">
              <th scope="row">{{producto.Id}}</th>
                  <td>{{producto.NombreProducto}}</td>   
                  <td>{{producto.Cantidad}}</td>
                  <td>{{producto.Precio | currency: 'USD' | lowercase   }}</td>
                  <td>{{producto.Precio * this.productoForm.value.Cantidad | currency: 'USD' | lowercase  }}</td>
              <td><button type="button" class="btn-close" aria-label="Close" (click)="deleteItemCar(producto.Id)"></button></td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="row">
      <div class="col-md-6">
          <p>Puntos Generados:<b>{{puntos()}}</b></p>
      </div>
      <div class="col-md-6">
        <form [formGroup]="productoForm">
          <h3>Total: <b>{{total() | currency: 'USD' | lowercase}}</b> </h3>
        </form>
      </div>
      
  </div>
  <div class="row">
      <hr>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <h1 class="card-title">Vendedor:</h1>
          </div>
          
          <div class="col-md-4">
            <select class="form-select"  aria-label="Default select example" >
              <option *ngFor="let ven of vendedores" [value]="ven.Id"   >
                {{ven.NombreVendedor}} 
              </option>
            
            </select>
          </div>
         
          

          
        </div>
          
          
          
      
      </div>
      
  </div>


</div>

