
<div class="container">
    <button type="button" class="btn btn-primary mt-3" (click)="addVendedor()">Agregar Vendedor</button>
    <hr>
    <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ventas</th>
            
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let vendedor of vendedores" (click)="updateVendedor(vendedor.id)">
            <th scope="row">{{vendedor.id}}</th>
            <td>{{vendedor.nombreVendedor}}</td>
            <td>{{vendedor.ventas}}</td>
          </tr>
          
        </tbody>
      </table>
       
</div>

