
<div class="container">
  <h1 class="mt-5">Vendedor</h1>
    <button type="button" class="btn btn-primary mt-3" (click)="addVendedor()">Agregar Vendedor</button>
    <hr>
    <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ventas</th>
            
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let vendedor of vendedores" (click)="updateVendedor(vendedor.Id)">
            <th scope="row">{{vendedor.Id}}</th>
            <td>{{vendedor.NombreVendedor}}</td>
            <td>{{vendedor.Ventas}}</td>
          </tr>
          
        </tbody>
      </table>
       
</div>

