
<div class="container">
    <h1 class="mt-5">Categoria</h1>
      <button type="button" class="btn btn-primary mt-3" (click)="addCategoria()">Agregar Categoria</button>
      <hr>
      <table class="table  table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
              
              
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let categoria of Categorias" (click)="updateCategoria(categoria.Id)">
              <th scope="row">{{categoria.Id}}</th>
              <td>{{categoria.Categoria}}</td>
            </tr>
            
          </tbody>
        </table>
         
  </div>
  
  