<div class="container">
    <h1 class="mt-5">Cliente a Facturar</h1>
      <hr>
     
    <div class="row">

        <form class="needs-validation" [formGroup]="findForm" (ngSubmit)="findCliente(findForm.value.nombreCliente)" novalidate>
            <div class="mb-3 col-md-6">
                <label  class="form-label">Buscar Cliente:</label>
                <input type="text" class="form-control" formControlName="nombreCliente"  placeholder="Inserte Cedula De cliente">
                
                <div class="btn-group mt-2" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-success">Buscar</button>
                    <button type="button" class="btn btn-secondary">Borrar</button>
                    
                </div> 
            </div>
        </form>
    </div>
      
      <table class="table  table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cedula</th>
              <th scope="col">Membresia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes" (click)="facturarCliente(cliente.Id)">
              <th scope="row">{{cliente.Id}}</th>
              <td>{{cliente.NombreCliente}}</td>
              <td>{{cliente.Cedula}}</td>
              <td>{{cliente.Membresia}}</td>
            </tr>
            
          </tbody>
        </table>
         
        
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <!-- Position Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element "> {{element.Id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="NombreCliente">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.NombreCliente}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="Cedula">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.Cedula}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="Membresia">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.Membresia}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>

          
  </div>
  